@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');

* {
  box-sizing: border-box;
  border: solid #5B6DCD 1px;
}

body {
  background-color: #333;
  font-family: 'Lato', 'san-serif';
  overflow-x: hidden;
  color: #222;
  margin: 0;
}

.container {
  background-color: #fafafa;

}

.container.show-nav {
  transform: rotate(-20deg);
}